.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.titel-1 {
    text-align: center;
    width: 56%;
    font-size: 40px;
}

.titel-1 span {
    color: rgba(235, 255, 37, 1);
}

.setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 55px;
}